<!-- SECCION NOTICIAS-->
<div class="noticias">
    <h1 class="noticias-titulo display-4">Noticias</h1>

    <div class="noticias-card card mb-3">
    
        <div class="card-body">
            <div class="btnx">
                <button class="btn"><i class="fa-solid fa-xmark "></i></button>
            </div>
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
        </div>
    </div>
      <div class="card mb-3">
        <div class="card-body">
            <div class="btnx">
                <button class="btn"><i class="fa-solid fa-xmark "></i></button>
            </div>
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
            <div class="btnx">
                <button class="btn"><i class="fa-solid fa-xmark "></i></button>
            </div>
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Esta es una tarjeta más amplia con texto de apoyo a continuación como introducción natural a contenido adicional. Este contenido es un poco más largo.</p>
        </div>
      </div>
</div>
