<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../img/Logo.jpg" alt="Logo Colegio 743" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-center">
          <a class="nav-link" href="#Sobre">Sobre Nosotros</a>
          <a class="nav-link" href="#Noticias">Noticias</a>
          <a class="nav-link" href="#Contacto">Contacto</a>
          <a class="nav-link" href="https://www.facebook.com/Colegio743ParqueAntonioMoran"><i class="fa-brands fa-facebook fa-2xl"></i></a>
        </div>
            <a class="nav-link user" ><i class="fa-solid fa-user fa-2xl" type="button"  data-bs-toggle="modal" data-bs-target="#Modal"></i>
            </a>
      </div>
    </div>
     <!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Ingrese su correo electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Ingrese su constraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</div>
  </nav>
